<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="DbConnectionStr" connectionString=""/>
        <add name="KookToken" connectionString=""/>
        <add name="KookEnableDebug" connectionString="false"/>
        <add name="KookConnectTimeout" connectionString="10000"/>
    </connectionStrings>
    <appSettings>
        <add key="KookEnableDebug" value="false"/>
        <add key="KookConnectTimeout" value="10000"/>
    </appSettings>
</configuration>
