<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <config>

        <!-- <add key="defaultPushSource" value="https://MyRepo/ES/api/v2/package" /> -->

        <!-- Proxy settings -->
        <add key="http_proxy" value="http://127.0.0.1:7890" />
    </config>

    <packageSources>
        <add key="cdn.azure.cn" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>

    <bindingRedirects>
        <add key="skip" value="False" />
    </bindingRedirects>

    <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>

</configuration>